<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App</title>
</head>

<body>
  <header class="header">
    <h1>Projet CGI</h1>
    <nav class="nav">
      <button class="button" routerLink="/inscription" routerLinkActive="activebutton">Inscription</button>
      <button class="button" routerLink="/auth" routerLinkActive="activebutton">Connexion</button>
      <button class="button" routerLink="/gestion" routerLinkActive="activebutton">Gestion des
        utilisateurs</button>
      <button class="button" routerLink="/details" routerLinkActive="activebutton">Détails</button>
    </nav>
  </header>
  <hr>
  <router-outlet></router-outlet>
</body>

</html>