body {
    background-color: #e9ecef;
    color: #403d39;
    text-align: center;
    height: 100vh;
}

header {
    text-align: center;
    padding: 5px;
}

hr {
    border: 1px solid #dee2e6;
}

.button {
    background: #403d39;
    color: white;
    border-radius: 16px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    margin: 10px;
    text-decoration: none; /* Added to remove underline */
}

.button:hover {
    background: #252422;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.activebutton {
    background: #eb5e28;
    transform: scale(1.1);
}

login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


