<div>
    <p>Token Value: {{ token }}</p>
    <button class="button" (click)="onLogout()" style="background-color: #eb5e28;">Se déconnecter</button>
    <button class="secondary-button" (click)="fetchUsers(true)">Rafraîchir la liste</button>
</div>

<div style="margin-top: 15px;">
    <div style="text-align: center;">
        <table style="margin: 0 auto; font-size: larger;">
            <thead>
                <tr>
                    <th>Courriel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.email }}</td>
                    <button class="button" (click)="onDetails(user.id)">Détails</button>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 15px;">
        <input type="email" id="email" name="email" class="input-field" placeholder="Entrez votre courriel"
            #emailInput="ngModel" [(ngModel)]="email" required style="width:20%; min-width: 400px">
        <button class="button" (click)="onAdd(email)" style="background-color: #eb5e28;">Ajouter</button>
    </div>
</div>