<div>
    <p>Token Value: {{ token }}</p>
    <button class="button" (click)="onLogout()">Logout</button>
    <button class="secondary-button" (click)="fetchUsers()">Fetch Users</button>
</div>

<div>
    <h2>Users List</h2>
    <div style="text-align: center;">
        <table style="margin: 0 auto; font-size: larger;">
            <thead>
                <tr>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.email }}</td>
                    <button class="button" (click)="onEdit(user.id)">Edit</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>